.section-headings {
    font-family: 'Assistant', sans-serif;
}

.project-headings {
    font-family: 'Assistant', sans-serif;
}

.social-media-icons {
    font-size: 4rem;
}

.img-hailey {
    transform: rotate(90deg);
    object-fit: cover;
    border-radius: 100%;
}

